{% extends 'bese.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <!-- search -->
    <div class="container">
        <div class="row">
            <div class="col-8 ">
                <form class="form-inline">
                    <div class="form-group mx-sm-2 mb-2">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>

                </form>
            </div>
            <div class="col-4 text-right">
                {% if user.is_authenticated %}
                <a type="button" class="btn btn-outline-warning col-5 ml-5" href="{% url 'mygame' %}" role="button">My
                    Game</a>
                {% endif %}
            </div>
        </div>
        <!-- content -->
        <div class="container">
            <div class="row">
                <div class="col-10  ">
                    <!-- เริ่มทั้งแถว -->
                    <h1 style="text-align: left; width:49%; display: inline-block;">Action</h1>
                    <a style="text-align: right; width:50%;  display: inline-block;"
                        href="{% url 'allgame' %}">Seemore...</a>
                    <div class="row p-2 ml-3">
                        <!-- แถว 1 อันที่ 1 -->
                        {% for game in games|slice:":5" %}
                        {% for image in images %}
                        {% if image.game_id_id == game.id %}

                        <div class="col-sm-2 m-2">
                            <div>
                                <img class="card shadow p-2 mb-3 bg-white rounded" style="width: 9rem; height: 13rem;"
                                    src="{{ image.image_url.url }}" alt="">
                                <a class="ml-" style="color: #000000"
                                    href="{% url 'details' %}"><b>{{ game.name }}</b></a> <br>
                                <small class="" style="color: #afafaf">{{ game.developer }}</small>
                            </div>
                        </div>

                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- จบแถว -->

                    <!-- เริ่มทั้งแถว -->
                    <h1 style="text-align: left; width:49%; display: inline-block;">Adventure</h1>
                    <a style="text-align: right; width:50%;  display: inline-block;" href="#">Seemore...</a>
                    <div class="row p-2 ml-3">
                        <!-- แถว 1 อันที่ 1 -->
                        <div class="col-sm-2 m-2">
                            <div>
                                <img class="card shadow p-2 mb-3 bg-white rounded" style="width: 9rem; height: 13rem;"
                                    src="{% static '/img/game1.jpg' %}" alt="">
                                <a class="ml-" style="color: #000000" href="#"><b>Playerunknown's battlegrounds</b></a>
                                <small class="" style="color: #afafaf">Tencent</small>
                            </div>
                        </div>
                        <!-- แถว 1 อันที่ 2 -->
                        <div class="col-sm-2 m-2">
                            <img class="card shadow p-2 mb-3 bg-white rounded" style="width: 9rem; height: 13rem;"
                                src="{% static '/img/game2.jpg' %}" alt="">
                            <a class="ml-" style="color: #000000" href="#"><b>Playerunknown's battlegrounds</b></a>
                            <small class="" style="color: #afafaf">Tencent</small>
                        </div>
                        <!-- แถว 1 อันที่ 3 -->
                        <div class="col-sm-2 m-2">
                            <img class="card shadow p-2 mb-3 bg-white rounded" style="width: 9rem; height: 13rem;"
                                src="{% static '/img/game3.jpg' %}" alt="">
                            <a class="ml-" style="color: #000000" href="#"><b>Playerunknown's battlegrounds</b></a>
                            <small class="" style="color: #afafaf">Tencent</small>
                        </div>
                        <!-- แถว 1 อันที่ 4 -->
                        <div class="col-sm-2 m-2">
                            <img class="card shadow p-2 mb-3 bg-white rounded" style="width: 9rem; height: 13rem;"
                                src="{% static '/img/game4.jpg' %}" alt="">
                            <a class="ml-" style="color: #000000" href="#"><b>Playerunknown's battlegrounds</b></a>
                            <small class="" style="color: #afafaf">Tencent</small>
                        </div>
                        <!-- แถว 1 อันที่ 5 -->
                        <div class="col-sm-2 m-2">
                            <img class="card shadow p-2 mb-3 bg-white rounded" style="width: 9rem; height: 13rem;"
                                src="{% static '/img/game5.jpg' %}" alt="">
                            <a class="ml-" style="color: #000000" href="#"><b>Playerunknown's battlegrounds</b></a>
                            <small class="" style="color: #afafaf">Tencent</small>
                        </div>

                    </div>
                    <!-- จบแถว -->

                </div>
                <div class="col-2 ">


                    <p>Filters</p>
                    <hr>
                    <form action="{% url 'allgame' %}" method="GET">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" onchange="this.form.submit()"> Action</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""> Adventure</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""> Puzzle</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""> Racing</label>
                        </div>
                    </form>

                </div>
            </div>


        </div>

</body>

</html>
{% endblock  %}